* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

header {
    width: 100vw;
    height: 600px;
    background-image: url(./img/jumbo.png);
    background-size: cover;
}

main {
    width: 100vw;
    height: 2700px;
    background-color: red;
}

footer {
    width: 100vw;
    height: 800px;
    background-color: darkorange;
}

.barra {
    width: 60%;
    height: 100px;
    margin-left: 20%;
}

.navbar {
    /*  width: 60%; */
    height: 100px;
    padding: 2.5rem;
}

.links {
    text-decoration: none;
    margin: 10px;
    padding: 10px;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

.logo {
    width: 20%;
    height: 100px;
    background-image: url(./img/logo.svg);
    background-repeat: no-repeat;
    margin-top: 2rem;
    float: left;
    top: 0;
    left: 0;
}

.bottone {
    padding: 40px;
    height: 100px;
    float: right;
    top: 0;
    right: 0;
}

.accedi {
    background-color: white;
    border-radius: 40%;
    padding: 10px;
}

.testo {
    width: 30%;
    height: 250px;
    /* background-color: blue; */
    margin-left: 35%;
    margin-top: 6rem;
}

.titolo {
    color: white;
    text-align: center;
    margin-bottom: 2rem;
    font-size: 45px;
}

.paragrafo {
    color: white;
    text-align: center;
    font-size: 15px;
}

.bottoni {
    margin-top: 2rem;
    margin-left: 3rem;
}

.scarica {
    background-color: white;
    border-radius: 20%;
    padding: 12px;
    margin-right: 1rem;
}

.browser {
    background-color: black;
    color: white;
    border-radius: 20%;
    padding: 12px;
}

.img-rana {
    width: 35%;
    height: 500px;
    background-color: yellow;
    margin-left: 20%;
    float: left;
}

.testo-destra {
    width: 25%;
    height: 500px;
    background-color: rosybrown;
    float: right;
    margin-right: 20%;
}

.testo-sinistra {
    width: 25%;
    height: 500px;
    background-color: salmon;
    float: left;
    margin-left: 20%;
    margin-top: 6rem;
}

.img-mago {
    width: 35%;
    height: 500px;
    background-color: seashell;
    margin-right: 20%;
    margin-top: 6rem;
    float: right;
}

.img-libro {
    width: 35%;
    height: 500px;
    background-color: springgreen;
    margin-left: 20%;
    float: left;
    margin-top: 6rem;
}

.testo-destra2 {
    width: 25%;
    height: 500px;
    background-color: sienna;
    margin-right: 20%;
    float: right;
    margin-top: 6rem;
}

.scritta-tecnologia {
    width: 60%;
    height: 200px;
    background-color: brown;
    float: left;
    margin-top: 6rem;
    margin-left: 20%;
}

.img-centrale {
    width: 60%;
    height: 400px;
    background-color: cyan;
    float: left;
    margin-left: 20%;
}

.download {
    width: 60%;
    height: 200px;
    background-color: darkgray;
    float: left;
    margin-left: 20%;
}

.social {
    width: 20%;
    height: 500px;
    background-color: darkred;
    float: left;
    margin-left: 20%;
}

.prodotto {
    width: 10%;
    height: 500px;
    background-color: darkslateblue;
    float: left;
}

.compagnia {
    width: 10%;
    height: 500px;
    background-color: greenyellow;
    float: left;
}

.risorse {
    width: 10%;
    height: 500px;
    background-color: hotpink;
    float: left;
}

.norme {
    width: 10%;
    height: 500px;
    background-color: khaki;
    float: left;
}

.logo2 {
    width: 30%;
    height: 150px;
    background-color: lightseagreen;
    float: left;
    margin-left: 20%;
}

.registrati {
    width: 30%;
    height: 150px;
    background-color: magenta;
    float: left;
}